h1 {
    color: #00f;
    text-align: center;
}

h2{
    color: #316b07;
    font-style: italic;
    text-align: center;
}

p{
    font-family: sans-serif ;
}
ul{
    line-height: 40px;
}

ol{
    line-height: 40px;

}
body{
    background-color: #ceede4;
}